@import "tailwindcss";


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    overflow-x: hidden;
    
  
   

}
a, button {
  cursor: pointer;
}


@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-20px); }
}

.animate-float-optimized {
  animation: float 5s ease-in-out infinite;
  will-change: transform; 
}


